[submodule "projects/hover"]
	path = projects/hover
	url = git@github.com:Humanoid-Athletic-Robotics-Project-HARP/HOVER.git
	branch = main
[submodule "projects/him-collaborators"]
	path = projects/him-collaborators
	url = git@github.com:HIMRobotics/him-collaborators.git
	branch = main
[submodule "projects/booster_robotics_sdk"]
	path = projects/booster_robotics_sdk
	url = git@github.com:BoosterRobotics/booster_robotics_sdk.git
[submodule "projects/pace-table-tennis-hitting"]
	path = projects/pace-table-tennis-hitting
	url = git@github.com:kylevansant/TTRL-ICRA2026.git
	branch = feature/k1-tt
